body { background: #fff; position: absolute;top: 50%; margin-top: -470px; margin-left: -320px; left: 50%;  }
.wrapper {
    margin: -50px auto 0 auto;
    width: 600px;
    height: 600px;
    position: relative;
}
#canvas {
    padding: 10px;
    position: absolute;
    z-index: -1;    
    top: 202px;
    margin: 0 auto;
}

#bg {
    position: absolute;
    top: 7px;
    left: 18px;
    background: transparent;
}

#notice {
    position: absolute;     
    width: 180px;
    height: 18px;
    color: #999;   
    text-align: center;
    z-index: -10;
    font-size: 16px;
    top: 640px;
    left: 220px;
    border: 1px solid #e7e7e7;
}

#logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 350px;
    left: 261px;
    z-index: -100;
    display: none;
}